<h2><%= @movie.title %></h2>

<p>Description: <%= @movie.description %></p>

<p>Rating: <%= @movie.rating %>/10</p>

<%# <% if session[:user_id] %> 
  <%= button_to "Create a Viewing Party", "/users/#{@user.id}/movies/#{@movie.id}/viewing_parties/new" , method: :get %>
<%# <% else %> 
  <%# <%= button_to "Create a Viewing Party", "/users/#{@user.id}/movies/#{@movie.id}", method: :get %>
  <%# <% end %> 
